{% extends "base.html" %}

{% block content %}
<h1>LeadFlow</h1>

<div class="card">
    <h2>Create Account</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

        <button class="btn">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login/">Login</a></p>
</div>
{% endblock %}